<div class="signUp-stepper-widget-form change-pin-widget page-widget">
  <div class="change-pin-widget-body page-widget-body">
    <!-- <app-nav [backButton]="true" navText="Change Pin" (backEvent)="back()"></app-nav> -->

    <div class="">
      <div class="enter-pin-widget">
        <label>Enter New Pin</label>
        <div class="pin-fields">
          <!-- <app-custom-input-otp (inputEvent)="pinInputEvent($event)" [length]="pinLength"></app-custom-input-otp> -->
        </div>
      </div>
      <div [class.enter-pin-error-widget]="pinMatch" class="enter-pin-widget">
        <label>Confirm New Pin</label>
        <div class="pin-fields">
          <!-- <app-custom-input-otp (inputEvent)="_pinInputEvent($event)" [length]="pinLength"></app-custom-input-otp> -->
        </div>
      </div>
    </div>

    <button [disabled]="!form.valid" (click)="update()" class="btn btn-gradient">All Done</button>
  </div>
</div>