<div class="page-widget signUp-mobile-verify-widget loginPinPage">
  <div class="container-fluid">
    <div class="logo"><img src="assets/images/logo.svg" /></div>
    <section class="signUp-mobile-verify-widget-head">
      <img src="assets/images/user-image.svg" />
      <h2>Welcome back, {{ uObj.firstName }}</h2>
      <p>Please enter your PIN</p>
    </section>

    <section class="signUp-mobile-verify-widget-form">
      <div class="form-widget">
        <!-- <app-custom-input-otp (inputEvent)="pinInputEvent($event)" [length]="6"></app-custom-input-otp> -->
      </div>
    </section>

    <section class="signUp-mobile-verify-widget-foot">
      <div hidden class="biometricLoginBtn">
        <div class="bio-metric-icon">
          <img src="assets/images/bio-metric-icon.svg" />
        </div>
        <p>Enable Biometric Login</p>
        <div class="bio-metric-toggle-btn">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
          </div>
        </div>
      </div>
      <button [disabled]="(!form.valid && !submitted) || submitted" class="btn btn-gradient" (click)="submit()">
        Login
      </button>
      <button class="btn" (click)="forgotPin()">Forgot PIN?</button>
    </section>
  </div>
</div>