<div class="page-widget">
  <div class="page-widget-body">
    <!-- <app-nav [backButton]="true" navText="Invite Status" (backEvent)="back()"></app-nav> -->
    <!-- <app-toggle (toggleEvent)="stateToggleSelectHandler($event)" [options]="stateOptions" header="">
    </app-toggle> -->

    <!-- Pending Start -->
    <div class="pending-container">
      <ul class="status-list">
        <li>
          <div class="status-list_icon">
            <!--<img src="/assets/images/user-icon.svg" alt="user" /> -->
            <span>E</span>
          </div>
          <div class="status-list_content">
            <span class="status-list_number">(629) 555-0129</span>
            <button class="btn btn-white">Send Reminder</button>
          </div>
        </li>
        <li>
          <div class="userIcon status-list_icon">
            <!--<img src="/assets/images/user-icon.svg" alt="user" /> -->
            <span>E</span>
          </div>
          <div class="status-list_content">
            <span class="status-list_number">(629) 555-0129</span>
            <span class="status-list_reminder">Reminder sent
              <span>18 hrs ago</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <!-- Pending End -->

    <!-- Accepted Start -->
    <div class="accepted-container">
      <ul class="status-list">
        <li>
          <div class="userIcon status-list_icon">
            <!-- <img src="/assets/images/user-icon.svg" alt="user" /> -->
            <span>E</span>
          </div>
          <div class="status-list_content">
            <span class="status-list_number">(629) 555-0129</span>
            <span class="status-list_amount">+ J$ <span>100</span></span>
          </div>
        </li>
      </ul>
    </div>
    <!-- Accepted End -->

    <div class="pageFooter">
      <button type="submit" class="btn btn-gradient">Invite Now</button>
    </div>
  </div>
</div>