<div class="help-support-widget page-widget">
  <div class="help-support-widget-body page-widget-body">
    <!-- <app-nav (backEvent)="back()" backButton="true" [navText]="header"></app-nav> -->

    <!-- <app-button-stack header="Support" [buttons]="supportBtns"></app-button-stack> -->

    <!-- <app-button-stack header="Legal" [buttons]="legalBtns"></app-button-stack> -->

    <!-- <app-button-stack header="Contact Us" [buttons]="contactUsBtns"></app-button-stack> -->

    <div class="page-footer">
      <ul>
        <li>
          <a href=""> <i class="icon-facebook"></i> </a>
        </li>
        <li>
          <a href=""><i class="icon-instagram"></i></a>
        </li>
        <li>
          <a href=""> <i class="icon-twitter"></i></a>
        </li>
      </ul>
      <p>App Version 1.0.0</p>
    </div>
  </div>
</div>