<div class="page-widget errorPage">
  <div class="container-fluid">
    <div (click)="back()" class="back-btn">
      <button class="btn">
        <img src="assets/images/left-arrow-icon.svg" />
      </button>
    </div>
    <div class="errorPageBody">
      <h2>Account Suspended</h2>
      <p>
        Your number ({{ phone }})
        <span>has been temporarily blocked</span>
      </p>
      <p>Please contact our helpline for further assistance.</p>
      <button class="btn secondary-color">Call Helpline</button>
    </div>
  </div>
</div>
