<div class="row trending-searches-container">
  <div class="col">
    <h4>Trending Searches</h4>
    <ul class="trending-searches_list arrow-list-item">
      <li>
        <a href="#">
          <span>Up Prepaid Number</span>
          <i class="icon-right-arrow"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span> Pay Bill for Postpaid Number</span>
          <i class="icon-right-arrow"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span> Subscribe a Bundle</span>
          <i class="icon-right-arrow"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
