<div class="notification-detail-widget page-widget">
  <div class="notification-detail-widget-body page-widget-body">
    <!-- <app-nav backButton="true" (backEvent)="back()" [navText]="header"></app-nav> -->

    <!-- Points Earning Start  -->
    <div class="points-container">
      <div class="poitns_content">
        <i class="icon-gold-coin"></i>
        <div class="points_earn"><span>100</span> Points Earned</div>
      </div>
      <div class="points_btns">
        <button type="button" class="btn">
          <i class="icon-download"></i>
        </button>
        <button type="button" class="btn">
          <i class="icon-share"></i>
        </button>
      </div>
    </div>
    <!-- Points Earning End  -->

    <div class="trans-history-record">
      <div class="receipts-widget-head">
        <h3>Transaction Detail</h3>
        <p>22/15/20</p>
        <p>ID # 242342 <i class="icon-copy"></i></p>
      </div>
      <div class="receipts-widget-content">
        <div class="pin-verify-widget">
          <div class="pin-verify-head">
            <div class="price">J$ <strong> 55.00 </strong></div>
            <p>Money Request</p>
          </div>
          <div class="pin-verify-body">
            <ul>
              <li>
                <span class="left">Fee</span>
                <span class="right">J$ 50</span>
              </li>
              <li>
                <span class="left">Tax</span>
                <span class="right">J$ 10</span>
              </li>
              <li>
                <span class="left">From</span>
                <span class="right">
                  Clara Fraser
                  <span>+1-658-12345678</span>
                </span>
              </li>
              <li>
                <span class="left">To</span>
                <span class="right">
                  JT Mobile Shop
                  <span>23388119922102</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-detail-footer">
      <button class="btn btn-white">Repeat this payment</button>
    </div>
  </div>
</div>